.col-condensed {
  margin-left: 0px;
  margin-right: 0px;
  div[class^="col-"]{
    padding-left: 0px;
    padding-right: 0px;
  }
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: bold;
}

section>footer>p{
	text-align:center
}

.row.row-eq-height > .col-md-2{
	height:179px;
  text-align: center;
}

section>footer{
	padding: 0px 0;
}

.btn-top{
	border-radius: 0px;
  background: #FFFBFB;
  border: 1px solid;
  border-color: rgb(160, 164, 165);
}

.atyle{
  color: #575760;
}

.atyle.active{
  border: 1px solid;
  color: rgb(250, 146, 0);
  border-color: rgb(160, 164, 165);
  background-color: rgb(254, 254, 254);
}

/*.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
*/
.navbar-nav-center{
/*    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;*/
}

ul>li>a{
	/*padding-top: 12px;*/
/*	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;*/
}


@media (max-width: 768px) { 
  	.col-xs-12{background-color:blue;}
	.row.row-eq-height > .col-md-2{
		height:179px;
	}
}
/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) { 
	.row.col-condensed [class*="col-md"]{
	  max-height:179px;
	  overflow:hidden;
	}


}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) { 
	.row.col-condensed [class*="col-md"]{
	  max-height:179px;
	  overflow:hidden;
	}
}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {  
	.row.col-condensed [class*="col-md"]{
	  max-height:179px;
	  overflow:hidden;
	}
}
.row.color :nth-child(even){
  background-color: rgba(103, 174, 195, 0.62);
}
.row.color :nth-child(odd){
  background-color: rgba(176, 225, 187, 0.5);
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* Styles go here */
.border
{
  border:1px solid; 
  border-color: rgba(86, 85, 85, 0.33);      
}
/*screen-xs*/
@media (max-width: 768px) { 
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12{background-color:blue;text-align: center;}
}
/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) { 
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12{background-color:green;text-align: center;}
}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) { 
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12{background-color:yellow;text-align: center;}
}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {  
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12{background-color:red;text-align: center;}
}


/*
** Image
*/

.img-responsive-parent {
    margin: 0 -60px;
}

.img-size-default{
  height: 179px;
  width: 225px;
}

/*
** Newest
*/

 .btn-bottom-content {
  position: absolute;
  bottom: 7px;
  font-size: 11px;
  padding: 3px 14px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 64%;
}

.border .row a {
  border-radius: 100px;
  border: 2px solid;
  border-color:  rgba(0, 0, 0, 0.02);
  color: #000;
  background: #FFFFFF;
  display: block;
}

.border .row a {
  border-radius: 100px;
  border: 2px solid;
  border-color:  rgba(0, 0, 0, 0.02);
  color: #000;
  background: #FFFFFF;
  display: block;
}

.border .row a:hover{
    text-decoration: none;
}

.eye-class:before{
  background-color: none;
}

.icon-external-link-sign:before {
  color: rgb(153, 0, 0);
}

.border .row.span>span{
  background: rgb(252, 252, 252);
}

.border .row.span>span>i{
  background: rgb(252, 252, 252);
}


/*
** Overflow Hidden
*/

.pdf-thumb-box
{
  display:inline-block !important;
  position:relative !important; 
}
.pdf-thumb-box-overlay { 
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.pdf-thumb-box a{
  color:transparent;
}
.pdf-thumb-box a:hover .pdf-thumb-box-overlay {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
  text-align:center;
  position: absolute;
  background-color: rgba(16, 20, 66, 0.62);
  color: #fff;
  left: -59px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  height: 179px;
  width: 225px;    
}
.pdf-thumb-box-overlay span {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0
}

.center-ul{
  margin-left: 25%;
}

/* Add News */
.thumbnail a:hover .caption {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
  text-align:center;
  position: absolute;
  background-color: rgba(16, 20, 66, 0.62);
  color: #fff;
  left: -16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  height: 179px;
  width: 225px;  
}

.thumbnail {
    position: relative;
}


/* Modal Style */

.modal-transparancy{
  background-color:rgba(0, 0, 0, 0.45);
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}


/* Circle Button */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
width: 136px;
    height: 137px;
    padding: 13px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 67px;
}


/* Centered Modal Body */

.modal-dialog-center {
    margin-top: 25%;
}


/* Close */

.closeButton{
    color: rgb(255, 255, 255);
    width: 37px;
    height: 37px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 20px;
    float: right;
    background-color: #EEA741;
    border-color: #EEA63E;
}